@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

 a{
     text-decoration: none;
     color: inherit;
 }

 img {
     border:0;
     vertical-align: top;
 }
 #body{
     position: relative;
     margin: 0;
     padding: 0;
     display: block;
 }
 /* <!-- <페이지이름 상단 헤더부분> --> */



/* 중간컨텐츠부분 */
#contents2{
    margin: 0 auto; 
    position: relative; 
}
#contents3{
    margin: 0 auto; 
    position: relative;
   height: 2800px;
}

#subject_name{
    width: 1400px;
    height: 50px;
    font-size: 1.2em;
    font-weight: bold;
   margin: 0 auto;  
      position: relative;
}
#span_topmenu_name{
  font-size: 1.2em;
   position: relative;
    font-weight: bold;
   margin: 0 auto;  
     width: 200px;
     text-align: center;
}
#best{
    margin: 0 auto;  
    width: 1350px;
    height: 50px;
}
#best ul{
     margin: 0 auto;  
    width: 1350px;
    height: 50px;
    border-radius: 14px;
    border: black solid 1px;
    float: left;
    background-color: #000;
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
}
#best li a{
    font-size: 1.5em;
    font-weight: bold;
    color: ghostwhite;
    
    
}
#best li a:hover{
    color: blueviolet;
} 
#best li :hover{
   transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    color: blueviolet;
}
 #section{
    position: relative;
    width: 1350px;
    margin:0 auto;
    height: 1050px;
    border: gray 1px;

}
#section .left .boximage:hover{
    transform: translate(+10px,+10px);
}


 #section .left{
    float: left;
    width: 310px;
    height: 400px;
    padding: 20px;
     margin-left:20px;
    background-color: #fff;
    margin-top:50px;
    box-sizing: border-box;
}
 #section .box{
     background-size: 300px 300px;   
    width: 300px;
    height: 300px;
    box-sizing: border-box;
} 
#section .box .boximage{
   background-size: 300px 300px;   
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}

#buttonp{
    margin-top: 8px;
}

#buttonp{
    width: 300px;
    height: 20px;
}
#span_icon{
    background-size: 17px 17px;   
    width: 17px;
    height: 17px;
    line-height:20px;
    background-color: rgb(75, 74, 74);
}

#span_gif{
     background-size: 17px 17px;   
    width: 17px;
    height: 17px;
    line-height:20px;
    background-color:black;
}

 #section .left .box h3,p{
    color: rgb(75, 74, 74);
    text-align: center;
    line-height:20px;
    font-size: 14px;
}
#section .left .box h3,p:hover{
    color: blueviolet;
} 
#section .box:hover{
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
}
.right{
	text-align:right;
	margin-right: 100px;
}

.register{
	width:100px;
	outline:0;
	background-color:white;
	font-size:0.9em;
	border:1px solid lightgrey;
	padding:5px 20px;
	margin: 20px 10px;
}

.btn:hover{
	border:1px solid black;
	cursor: pointer;
	color:black;
}
 
/* <!-- 가로로긴박스 --> */
div .side3{
	margin:0 auto;
    padding: 10px;
    width: 1350px;
    height: 100px;
}
.middle{

    width: 1350px;
    height: 50px;
    border-radius: 14px;
    border: black solid 1px;
    float: left;
    background-color: #000;
    padding-top: 10px;
    text-align: center;
    box-sizing: border-box;
}
.middle ul li{
    float: left;
    padding-left: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: ghostwhite;
}
.middle ul li:hover{
   transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    color: blueviolet;
}
#middle_name{
	margin:0 auto;
    color: ghostwhite;
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
#middle_name:hover{
    color: blueviolet;
} 

/* 박스 12개 부분 */
div .section1 {
    position: relative;
    margin:0 auto;
    height:1400px;
    
    
}
div .container{
    width: 1350px;
    margin:0 auto;
    position: relative;
}

.section1 .quick{
    float: left;
    width: 310px;
    height: 400px;
    padding: 10px;
    margin-left:20px;
    background-color: #fff;
    margin-top:80px;
    box-sizing: border-box;
   
}
.section1 .quick .img14{
    background-size: 300px 300px;   
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}
.section1 .quick h3,p {
    color: rgb(75, 74, 74);
    text-align: center;
    font-size: 14px;
} 
.section1 .quick h3,p:hover{ 
    color: blueviolet;
} 
.section1 .quick:hover{
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
 }
 /* transform: translate(+10px,+10px); */
.paging{
   margin: 0 auto;
   width: 1350px;
   
}
.pagination{
   margin: 0 auto;
   width: 670px;
 
  float:left;
   font-size:1em;
   line-height: 30px;
   font-weight: bold;
  
}
.pagination li{
	text-align:center;
	width: 25px;
	margin-top: 60px;
   border:black;
float:left;
  border:1px solid gray;
  border-width:5px;
 
}
.btn btn-outline-primary{
   width: 600px;
       float: left;
}


