@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

 a{
     text-decoration: none;
     color: inherit;
 }

 img {
     border:0;
     vertical-align: top;
 }
 #body{
     position: relative;
     margin: 0;
     padding: 0;
     display: block;
 }
 /* <!-- <페이지이름 상단 헤더부분> --> */
 #contents1{
     position: relative;
     margin: 0 auto;
     height: 200px;
     background-color: #000;
 }
 #contents1 .topAreaout{
    position: relative;   
    width: 100%;
    height: 50px;
    float: left;
   
 }
 #contents1 .topArea{
    position: relative;
    top: 0px;
    width: 1500px;
    height: 30px;
    line-height: 30px;
    margin: 0px auto;  
    font-size: 15px;
 }

#contents1 .menu1 ul a{
    margin: 20px;
    font-size:1em;
    height: 50px;
    float: left;
    
}
#contents1 .menu1 ul a:hover{
    color:blueviolet;
    text-decoration: underline;
}
#contents1 .menu2 ul a{
	font-size:0.9em;
	font-weight:bold;
    margin: 20px;
    height: 50px;
    float: right;    
}
#contents1 .menu2 ul a:hover{
    color:blueviolet;
    text-decoration: underline;
}
#contents1 .topAreaout2{
    position: relative;   
    width: 100%;
    height: 150px;
    float: left;
 }
 #contents1 .topArea2{
    position: relative;
    top: 0px;
    width: 1240px;
    height: 150px;
    margin: 0px auto;
 }
 #contents1 .topArea3{
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
    width: 970px;
    height: 150px;
    margin: 0px 0 0px 0;
    padding: 0px 0 0;
    text-align: left;
 }
 #contents1 .topArea3 a:hover{
    color:blueviolet;
    
}
 #contents1 .topArea4{
    float: right;
   position: relative;
   top: 0px;
   left: 0px;
   width: 270px;
   height: 150px;
   margin: 0px 0 0px 0;
   padding: 0px 0 0;
   text-align: right;
}
#contents1 .topArea4 li{
    float: left;
    margin-top: 80px;
}
 #contents1 h1{
    position: relative;
    top: 30px;
    width: auto;
    height: auto;
    margin-left: 100px;
    text-align: center;
    vertical-align: middle;
 }
 #contents1 h1 a{
     color: white;
     font-size: 2em;
 }
 #contents1 h1 a:hover{
    color: white;
 }
 #contents1 .topArea a
 {
     color: white;
 }
 

/* 메뉴버튼,검색창 */
header{
    /* 일반적으로 높이 80px 마우스오버시 132px */
    width: 100%;
    height: 200px;
    position: relative;
    background-color:white;
    overflow: hidden;
    /*  하위 li는 숨겨짐 */
}
header .inner {
    width: 100%;
    height: 74px;
    margin: 0 auto;
    background-color:#000;
    /* overflow: hidden; */
    border:1px solid blueviolet;
}
header .inner1 {
     width: 1400px;
    height: 75px;
    margin: 0 auto;
}

/* 왼쪽사이드메뉴버튼 */
header .btn1 {  
    width: 75px;
    height: 75px;
    float: left;
   margin:0;
   margin-left: 10px;
    border:1px solid white;
}


/* <!-- 검색창  --> */

header .sideMenu3{
    float: left;
    width: 330px;
    height: 50px;
    margin: 15px 0 0 0;
    margin-left: 30px;
    border: 2px solid blueviolet;
    background-color: #fff;
}

header .sideMenu3 input{
    width: 230px;
    height: 45px;
    border: white;
    font-size: 20px;
   
}
header .sideMenu3 input:focus{
    outline: none;
    
  }
header .btn2 {  
    width: 50px;
    height: 50px;
    float: right;
    border:0;
   

}
/* 상위메뉴 */
header .menu3 {
    float: right;
    width: 910px;
    height: 75px;    
    
}
header .menu3 .mainMenu1 {
    float: left;  
    font-size: 1.1em;
    line-height:30px;
    font-weight:bold;
    padding-top:10px;
    padding-left:5px;
    margin:8px;
    
    color: white;   
    
}
/* header .menu3 .subMenu{
    color:blueviolet;
    display: block;
    height: 35px;
    line-height: 20px;
    padding-right:10px;
    text-align: right;
    text-indent: 10px;
    font-size: 15px;
}

header.subMenu li  {
    display: block;
    height: 35px;
    line-height: 20px;
    padding-right:30px;
    text-align: right;
    text-indent: 10px;
    font-size: 20px;
    color: rgb(73, 71, 71);
} */
header .menu3 ul a:hover{
    color:blueviolet;
    text-decoration: underline;
}
header::before {
    content: ""; /*내용없음*/
    width: 100%;
    height: 2px;
    position: absolute;
    top: 78px;
    left: 0;
}
header .inner.sticky{
    position: fixed;
    top:0;
    z-index: 9999999999;
}


