<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">
	
	<select id="topmenuinfo" resultType="kr.co.korea.beans.SubmenuBean">
		select top_idx,top_name from topmenu
	</select>
	
	<select id="submenuinfo" resultType="kr.co.korea.beans.SubmenuBean">
		select sub_idx,sub_top_idx,sub_name from submenu
	</select>
	
</mapper>