@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

table{
	border-spacing:0;
    border-collapse: collapse;
}
h1{margin:0, auto;
	text-align:center;
	color:black;
}

#join_wrap{
	height:1500px;
	position:relative;
	top:100px;
}

.btn btn-primary {
	border:1px solid light;
	background-color:white;
	font-size:em;
	border:1px solid lightgrey;
	padding: 5px 10px;
	width:20px;
	margin-left:5px;
	
}
.btn btn-primary:hover{
	border:1px solid black;
	cursor: pointer;
}

#join{
	position:absolute;
	width:500px;
	left:50%;
	top:0px;
	transform:translate(-50%, 0px);		
}

input{
	border:0;
	outline:0;
	font-size:0.85em;
	padding-left:10px;
	color:grey;
	width:250px;
}

td{
	border-bottom:1px solid lightgrey;
	font-size:0.85em;
	width:500px;
	height:30px;
}

.msg{
	height:30px;
	border-bottom:0;
	font-size: 0.85em;
	padding-top:5px;
	color:red;
}


textarea{
	width:500px;
	height:300px;
	outline:0;
	border:1px solid black;
	font-size:0.85em;
	color:grey;
}

th{
	text-align:center;
	padding:30px 0;
	width:500px;
}

.btn{
	width:500px;
	outline:0;
	background-color:white;
	font-size:0.8em;
	border:1px solid lightgrey;
	padding:15px 0;
	margin-top:15px;
}

.btn:hover{
	border:1px solid black;
	cursor: pointer;
}

.addressBtn{
	width:100px;
}

#tempPw{
	width:500px;
	margin-top:15px;
}

#tempPw input{
	border:0;
	outline:0;
	font-size:0.85em;
	padding-left:10px;
	color:grey;
	width:250px;
	
}

#addressBtn{
	border:1px solid light;
	background-color:white;
	font-size:0.8em;
	border:1px solid lightgrey;
	padding: 5px 10px;
	width:100px;
	margin-left:5px;
}

#addressBtn:hover{
	border:1px solid black;
	cursor:pointer;
}

.noborder{
	border:0;
}