@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

 a{
     text-decoration: none;
     color: inherit;
 }
 h1{
     text-align: center;
 }
 .login_wrap{
     margin-top: 20px;
 }
 fieldset{
     border: 0;
     width: 400px;
     margin: 0 auto;
 }
 legend{
     font-size: 0;
     line-height: 0;
     width: 0;
     height: 0;
     overflow: hidden;
     visibility: hidden;
     text-indent: -9999pm;
 }
 .content{
     width: 600px;
     position: relative;
     margin: 100px auto;
 }

.input{
    text-align: center;
    
}
.input .textform{
    width: 400px;
    height: 50px;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
}
.input .btnlogin{
    margin-top: 2px;
    width: 405px;
    height: 50px;
    background-color: #777;
}
.find_info{
    text-align: center;
    margin-top: 30px;
}
.checklogin{
    margin-top: 8px;
}
